<div class="#comments-container"></div>
<ol class="microposts">
  <div id="microposts-start"></div>
  <% if @feed_items.any? %>


    <%= render partial: 'shared/feed_item', collection: @feed_items %>

  <%= will_paginate @feed_items %>
<% end %>

</ol>